#stage {
  margin: 1em auto;
  width: 100%;
  height: 100vh;
  margin-bottom: 230px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#stage a {
  position: absolute;
  width: inherit; /* Added */
  height: inherit; /* Added */
}

#stage a img {
  position: relative;
  border: 1px solid #ccc;
  background: #fff;
  width: inherit; /* Added */
  height: inherit; /* Added */
  font-weight: bold;
}

#stage a:nth-of-type(1) {
  animation-name: fader;
  animation-delay: 3s;
  animation-duration: 1s;
  z-index: 20;
}

#stage a:nth-of-type(2) {
  z-index: 10;
}

#stage a:nth-of-type(n+3) {
  display: none;
}

@keyframes fader {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

#banner-saying {
  z-index: 100;
  position: absolute;
  color: white;
  padding-top: 6px;
  font-size: 24px;
  text-align: center;
  font-family: 'Italianno', cursive;
}







