$light-gray:            #f7f7f9;
$dark-primary-color:    #512DA8;
$default-primary-color: #673AB7;
$light-primary-color:   #D1C4E9;
$text-primary-color:    #FFFFFF;
$accent-color:          #03A9F4;
$primary-text-color:    #212121;
$secondary-text-color:  #757575;
$divider-color:         #BDBDBD;
$pop-green: #06D6A9;
$pop-black: #171F24;
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px
